<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="Asia/Bishkek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
</head>
<body>
    <header>
        <h1>Мой Блог</h1>
    </header>
    <main>
        <h2>Список статей</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'blog_detail' article.id %}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 Мой Блог</p>
    </footer>
</body>
</html>
